<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shirts</title>
  </head>
  <body>
    <h1>Shirts</h1>
    <ul>
      <% for (let shirt of shirts) { %>
      <li><a href="items/<%= shirt._id %>"><%= shirt.title %></a></li>
      <% } %>
    </ul>
  </body>
</html>
